.vc-nav-pane div {
    color: #2b2b2b !important;
}

.vc-nav-pane > div > div {
    overflow: visible !important;
}

.vc-nav-pane a > span > i {
    width: 50px;
    margin-top: 3px;
}

.vc-nav-pane .vc-number {
    right: 0px;
    top: -14px;
}

.vc-nav-pane .vc-number-container > i {
    padding-top: 5px;
}

.vc-nav-pane > div > div:first-of-type > div:after {
    color: white;
    background-color: rgba(32, 45, 74, .8);
    border-radius: 100%;
    padding: 7px 9px 6px;
    height: 11px;
    position: relative;
    font-family: arial, helvetica, 'san-serif';
    top: 0px;
    right: -32px;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
}

.vc-nav-pane > div > div:first-of-type > div:after {
    content: '4';
}

.vc-titlebar + div {
    overflow-x: scroll;
}
